*{
  outline: none;

}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E4E4E1;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
.form-div{
position: absolute;
top: 0;
margin: 10px;
width: 960px;
display: flex;
justify-content: space-around;

}



.todo-input{
  outline: none;
  font-size: 1.5em;
  border-color: #e11c3e;
}

.todo-div{
  width: 350px;
  font-family: "poppins", sans-serif;
}

.todo-button{
  color: #e11c3e;
  border-color: #e11c3e;
  background: white ;
  margin-left:10px ;
}

.todo-button:hover{
  background: #e11c3e;
  color: white;
  border-color: #fff;
}

.todo-div header{
  margin: 0;
  padding: 1em 0;
  color: #e11c3e;
  background-color: #fff;
  text-align: center;
  border-top: 1em solid #e11c3e;
  border-bottom: 1px solid #eeeeee;
  border-radius: 1em 1em 0 0;
}

.todo-div footer{
  margin: 0;
  padding: .7em 0;
  background-color: #fff;
  border-radius: 0 0 1em 1em;
  text-align: center;
  border-top: 1px solid #eeeeee;
}

.todo-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo{
  background-color: #fff;
  display: flex;
  transition: .2s ease-in-out;
  max-width: 350px;
}

.todo:hover{
  transform: translateX(-.5em);
  border-left: 5px #e11c3e solid;
}

.todo-item{
  padding: .75em;
  max-width: 100px;
}

.complete-btn, .trash-btn{
  border: none;
  background: #fff;
  color: #e11c3e;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none
}
.complete-btn{
  margin-left: auto;
  color: #34b334;
}
.complete-btn:hover{
  background: #34b334;
  color: white;
}

.trash-btn:hover{
  background: #e11c3e;
  color: #fff;
}
.fa-trash-alt, .fa-check-square {
  pointer-events: none;
}

select{
  margin-left: 50px;
  cursor: pointer;
  border-color: #e11c3e; 
}