.startHidden{
    display: none
}

.formDiv{
    background-color: white;
    width: 50%;
    border-radius: 0 20px 20px 0;
}


@media(max-width: 1250px){
    .sideDiv{
        display: none
    }
    .formDiv{
        width: 100%;
        border-radius: 20px;
    }
    .startHidden{
        display: block;
    }
}