input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
input{
    outline: none;
    box-shadow:none !important;
}

body{
    background: #010A43;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.forms-div{
    border: 1px solid #FF2E63;
    width: 50%;
    height:700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 20px;
    background: white;
    box-shadow: 10px 10px 10px black;
}

.form-login{
    width: 50%;
    height: 100%;
    border-right: 1px solid #FF2E63;
    position: absolute;
    left: 0%;
}

.form-register{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0%;
}

.form-login, .form-register{
    text-align: center;
    z-index: 1;
}

.form-login input, .form-register input{
    width: 80%;
}
.forms-header{
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;


}

.form-control{
    margin: 0 auto 45px;
}
.first{
    margin-top:130px;
}

.switch{
    display: flex;
    letter-spacing: 4px; 
    width: 35%;
    height: 50%;
    margin: auto auto;
    justify-content: space-around;
    border-radius: 32px;
    margin-top: 18px;
    position: relative;
    background-color:white;
    z-index: 3;
}

.toggle-btn{
    margin: auto;
    height:60%;
    font-size: 20px;
    cursor: pointer;
    z-index: 3;
    background: transparent;
    border: none;
    transition: all ease 0.3s;
}

.toggle-login{
    letter-spacing:2px;
    color: white;
}
.toggle-cover{
    background: linear-gradient(90deg, rgba(255,46,99,1) 50%, rgba(238,238,238,1) 100%);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 32px 0 0 32px;
    transition: all 0.5s;
}

.toggle-cover.register{
    border-radius:0 32px 32px 0;
    left: 50%;
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(255,46,99,1) 50%);
}

.overlay{
    width: 50%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 50%;
    background: #FF2E63;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    border-radius: 0px 18px 18px 0;
}

.overlay.register{
    left: 0%;
    border-radius: 18px 0 0 18px;

    background: #FF2E63
}

button:focus{
    outline: none;
}
.end-btn{
    border:1px solid #FF2E63;
    padding:5px 15px;
    background: transparent;
    transition: all 0.5s ease-in-out;
    color: #FF2E63;
}
.end-btn:hover{
    background: #FF2E63;
    color: white;
}

.toggle-login.register, .toggle-register{
    color: #FF2E63;
}

.toggle-register.register{
    color: white;
}

.div-content{
    text-align:center;
    display: flex;
    color: white;
    margin-top: 130px;
    flex-direction: column;
    align-self: center;
    
}