*{
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);}

.principal{
    height: 600px;
}

.formdiv{
    border-radius: 10px;
    background: rgba(250, 250, 250, 0.6);
    box-shadow: 10px 10px 10px;
    padding: 20px;
    margin-top: 40%;
}
form h1{
    margin: 50px;
}


form input{
    width: 300px;
    height: 30px;
}

form button{
    margin-top:75px;
    margin-bottom: 20px;
}

form a{
    text-align: center;
}

.footer{
    text-align: center;
}
.sub-btn{
    width: 50%;
}