body{
   margin: 0px;
   font-family: 'Open Sans', sans-serif;
   background: linear-gradient(235deg, rgba(150,1,166,1) 0%,   rgba(0,91,255,1) 100%);
   letter-spacing: 1px;
   line-height: 30px;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 25px;
}



.container{
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0 0 30px black;
  box-shadow: 0 0 30px black;
  padding: 20px;
}

.comunismo{
  width: 300px;
  cursor: pointer;
  transition: 0.6s;
  box-shadow: 10px 10px 10px;
  margin: 20px;
  
}

.comunismo:hover{
  -webkit-box-shadow: 0 0 20px rgba(0,91,255,1);
  box-shadow: 0 0 20px rgba(0,91,255,1);
  border-radius: 200px;
}

input{
  outline: none;
  margin: 20px;
  padding: 5px 10px;
}

.input1{
  border: rgba(0,91,255,1) solid 2px;
  transition: 0.4s;
}

.input2{
  border: rgba(150,1,166,1) solid 2px;
  transition: 0.4s;
}


.input1:hover, .input1:focus{
  padding: 5px 25px;
  border: rgba(150,1,166,1) solid 2px;
  border-radius: 10px;
}

.input2:hover, .input2:focus{
  padding: 5px 25px;
  border: rgba(0,91,255,1) solid 2px;
  border-radius: 10px;

}

