body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
 }

.comunismo{
    margin-top: 50px;
    max-width: 55%;
    box-shadow: 10px 10px 10px;
    transition: 0.6s;
    cursor: pointer;
}

.comunismo:hover{
    -webkit-box-shadow: 0 0 20px rgba(150,1,166,1);
    box-shadow: 0 0 20px rgba(150,1,166,1);
    border-radius: 200px;
}
.comunismo2{
    position: fixed;
    left:0;
    top: 0;
    min-height: 100vh;
    max-width: 30%;
    opacity: 0%;
    transition: 15s;
    z-index: -1;
}

.comunismo2-ativo{
    opacity: 100%;;
}



.header{
    position: fixed;
    left: 0;
    min-height: 100vh;
    text-align: center;
    max-width: 30%;
}

.hbg{
    z-index: -2;
    max-width: 100%;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    filter: opacity(70%);
}

.container{
    margin-left: 31%;
    
}
