/* Tirar o outline do bootstrap */
extarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eceff1;
}

.main{
    position: relative;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    background: white;
    border-radius: 5px;
}
.form-group{
    margin: 20px auto;
    width: 80%
}
#authFormTitle{
    width: 80%;
    margin: 30px auto;
    font-weight: bold;
}

.subbtn{
    text-align: center;
    margin: 20px 0;
}

#register{
    text-align: center;
}
#access{
    text-align: center;
}
#passwordReset{
    text-align: center;
}

.startHidden{
    display: none;
}

.navbar{
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    margin-bottom: 50px;
}
#auth img{
    cursor: pointer
}
#userImg{
    height: 40px;
    border-radius: 100px;
}
.fa-trash-alt{
    float: right;
    color: #ff1744;
    margin: auto 10px;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s;
}

.fa-trash-alt:hover{
    background-color: #ff1744;
    color: white;
}
.list-group-item span{
    margin: auto 0px;
    padding: 9px;
}

.fa-edit{
    float: right;
    color: #304ffe;
    margin: auto 0px;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s;
}

.fa-edit:hover{
    background-color: #304ffe;
    color: white;
}